<div class="container-fluid"> <!--Container -->
	
	
	
	<div class="row">
 
	    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 border_div">
		   
			  <div class="col-xs-12 col-sm-6  col-md-6 col-lg-6">
 

 
	<div class="img_wrapper">
	<%= link_to (image_tag( "LCbutton.jpg", :class =>"img-responsive img_border"  , size: "315x81")),   "http://www.lifechurchwoodstock.ca",   :alt=> "Life Church" %> </div>
				
		 
			 
				
				 <div class="img_wrapper"><%= link_to (image_tag( "LCAbutton.jpg", :class =>"img-responsive img_border"  , size: "315x81")),  "http://www.lifechurchwoodstock.ca/ministries/academy",   :alt=> "LCA" %></div>
							
					 
						 
			 <div class="img_wrapper"> 
		 	<%= link_to (image_tag( "button-broadcast.gif", size: "315x81", :class =>"img-responsive"  ,
	       
		 	            mouseover: "button-broadcast-mouseover.gif")).html_safe,  "http://livestream.com/accounts/1715194/events/1680559", :target => '_blank'  , :alt=> "Live Broadcast" %>  
			 </div>
										
					 
							 			
	 <div class="img_wrapper"><%= link_to (image_tag( "banner-e-giving3.gif", :class =>"img-responsive"  , size: "315x81")),   "http://www.lifechurchwoodstock.ca/egivings/new"   , :alt=> "E-Giving" %>
 
				</div>									
				<div class="img_wrapper">
				
				</div>
				
			</div>
				 
				
		  <div class="col-xs-12 col-sm-6 col-md-6  col-lg-6 text-center">
			  
			  
	 
			<div class="img_wrapper"><%= image_tag("outside_front.png", :class =>"img-responsive center-block main_building_img"   ) %></div>
		
		 
			
			 
			 
			<p class="text-center text_block">
			Join us every Wednesday evening at 7:30pm
			and Sunday Morning at 10:00am <br>
			Morning Prayer every Tuesday at 7:45am	
			</p>
 
			</div>
			
	 
		 </div> <!--col-lg-8 col-lg-offset-2 -->
		     </div>	<!--Row -->   
		  
	  	<div class="row">
 
	  	  
		     <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 text-center">
		 <br>
		 
		  <address  >
		    <strong> ©  <%= "#{DateTime.now.strftime("%Y")}" %> Life Church International</strong>&nbsp;
			 547 Athlone Avenue Woodstock Ontario Canada N4S 7V8 
		     &nbsp; 519-537-7700
		  </address>
	 
	   </div> <!--col-lg-8 col-lg-offset-2 -->
           </div>	<!--Row -->   	  
   
</div><!--Container -->